.defaultHide {
	display: none;
	opacity: 0;
	pointer-events: none;
	height: 0;
}
.item__ul {
	padding: 10px 20px;
	margin: 0;
}
.delete_line {
	text-decoration: line-through;
}
/* From todoItem.scss & for todoItem.jsx: */
.item__li {
	width: 450px;
	height: 30px;
	line-height: 30px;
	list-style: none;
	margin-bottom: 5px;
	
	& > *:not(.defaultHide) {
		display: inline-block;
		vertical-align: middle;
	}
}
.item__input--checkbox,
.item__button--delete {
	cursor: pointer;
}
.item__input--checkbox {
	padding: 0;
	margin: 0;
	height: 20px;
	width: 20px;
}
.item__input--text {
	width: 100px;
	margin: 0 10px;
	border: 0;
	text-align: center;
}
.item__label {
	text-align: center;
	width: 120px;
	cursor: text;
}
.item__button--delete {
	padding: 0;
	margin: 0;
	height: 25px;
	width: 120px;
	
	&:disabled {
		cursor: not-allowed;
	}
}
/* for addTodoForm.jsx */
.block__div--addTodo {
	padding: 20px;
}